.video-listing-container{
    display: flex;
}
 .videocard-list{
    display: flex;
    flex-wrap: wrap;
}
.video-filter{
    margin: 0.5rem;
    color: white;
    font-size: 2rem;
}
.video-filter:hover{
background-color: var(--icon-color);
}


